{% extends "backend/base.html" %}
{% block link %}
    <link rel="stylesheet" href="/static/blog/css/add.css">
{% endblock %}
{% block content %}
    <div>
        <form action="" class="">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">标题</label>
                <input type="text" id="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="article_content">内容</label>
                <textarea id="article_content" class="form-control" name="content" style="height:300px;">

                </textarea>
            </div>
            <input type="button" value="返回" class="btn btn-default pull-right" id="back">
            <input type="button" value="提交" class="btn btn-info pull-right" id="push">

        </form>
    </div>
    <script charset="utf-8" src=/static/blog/kindeditor/kindeditor-all-min.js></script>
<script charset="utf-8" src="/static/blog/kindeditor/lang/zh-CN.js"></script>
    <script>
            KindEditor.ready(function(K) {
                window.editor = K.create('#article_content');
        });
        $('#back').click(function () {
            location.href = '/cn_backend';
        });
        $('#push').click(function () {
            $.ajax({
                url: '',
                type: "post",
                data: {
                    title: $('#title').val(),
                    content: $('#content').val(),
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },
                success: function (data) {
                    console.log(data)
                }
            })
        })
    </script>
{% endblock %}