{% extends 'base.html' %}
{% block content %}
    {% csrf_token %}
    {% load my_tags %}
    <div class="article_info">
        <h3 class="text-center">{{ article_obj.title }}</h3>
        <div class="cont">{{ article_obj.content|safe }}</div>
        <div class="clearfix">
            <div id="div_digg">
                <div class="diggit action">
                    <span class="diggnum" id="digg_count">{{ article_obj.up_count }}</span>
                </div>
                <div class="buryit action">
                    <span class="burynum" id="bury_count">{{ article_obj.down_count }}</span>
                </div>
                <div class="clear"></div>
                <div class="diggword" id="digg_tips" style="color: red"></div>
            </div>
        </div>
        <div class="tree_btn">
            评论树
        </div>
        <div class="comment_tree"></div>
        <div class="comment">
            <p>评论列表</p>
            <ul class="list-group">
                {% for comment in comment_list %}
                    <li class="list-group-item">
                        <div>
                            <a href="">{{ forloop.counter }}楼</a> &nbsp;&nbsp;
                            <span>{{ comment.create_time|date:"Y-m-d H:i" }}</span>&nbsp;&nbsp;
                            <a href=""><span>{{ comment.user.username }}</span></a>
                            <a href="javascript:void(0)" class="pull-right reply_btn"
                               username="{{ comment.user.username }}" comment_pk="{{ comment.pk }}">回复</a>
                        </div>
                        {% if comment.parent_comment_id %}
                            <div class="pid_info well">
                                <p>
                                    {{ comment.parent_comment.user.username }}:
                                    {{ comment.parent_comment.content }}
                                </p>
                            </div>
                        {% endif %}
                        <p class="comment_con">{{ comment.content }}</p>
                    </li>
                {% endfor %}
            </ul>
            <p>发表评论</p>
            <p>
                昵称：<input type="text" id="tbCommentAuthor" class="author" disabled="disabled" size="50"
                          value="{{ request.user.username }}">
            </p>
            <p>评论内容：</p>
            <p><textarea name="" id="comment_content" cols="30" rows="10"></textarea></p>
            <button class="btn btn-default comment_btn">提交评论</button>
        </div>
    </div>
    <script>

        var pid = "";

            $.ajax({
                url: '/get_comment_tree/',
                type: 'get',
                data: {
                    article_id: "{{ article_obj.pk }}"
                },
                success: function (comment_list) {
                    console.log(comment_list);

                    $.each(comment_list, function (index, content_obj) {
                        console.log(content_obj);
                        var pk = content_obj.pk;
                        var content = content_obj.content;
                        var parent_comment_id = content_obj.parent_comment_id;
                        var s = `<div class="comment_item" comment_id="${pk}"><span>${content}</span></div>`
                        if (!parent_comment_id) {
                            $('.comment_tree').append(s);
                        } else {
                            $(`[comment_id=${parent_comment_id}]`).append(s);
                        }
                    });
                }
            })

        $('.comment_btn').click(function () {

            var content = $('#comment_content').val();
            if (pid) {
                var index = content.indexOf('\n');
                content = content.slice(index + 1);
            }
            $.ajax({
                url: '/comment/',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                    'article_id': '{{ article_obj.pk }}',
                    'content': content,
                    'pid': pid,

                },
                success: function (data) {
                    console.log(data);
                    var create_time = data.create_time;
                    var username = data.username;
                    var s = `
                    <li class="list-group-item">
                        <div><a href="">
                            <span>${create_time}</span>&nbsp;&nbsp;
                            <a href=""><span>${username}</span></a>
                            <a href="" class="pull-right">回复</a>
                        </div>
                    <p class="comment_con">${content}</p>
                    </li>
                    `;

                    $('ul.list-group').append(s);
                    //清空评论框
                    $('#comment_content').val("");
                    pid = '';
                }
            })
        });
        $('#div_digg .action').click(function () {
            var is_up = $(this).hasClass('diggit');
            var obj = $(this).children('span');
            $.ajax({
                url: '/digg/',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                    'is_up': is_up,
                    'article_id': '{{ article_obj.pk }}',

                },
                success: function (data) {
                    console.log(data);
                    if (data.state) {
                        var val = parseInt(obj.text());
                        obj.text(val + 1);

                    }
                    else {
                        var val = data.handled ? "您已经推荐过!" : "您已经反对过!";
                        $('#digg_tips').html(val);
                        setTimeout(function () {
                            $('#digg_tips').html("")
                        }, 1000)
                    }
                }
            })
        });
        $('.reply_btn').click(function () {
            $('#comment_content').focus();
            var val = "@" + $(this).attr('username') + '\n';

            $('#comment_content').val(val);
            pid = $(this).attr('comment_pk');
        })
    </script>
{% endblock %}